.App {
  max-width: 800px;
  margin: 0 auto;
}

.App-header {
  margin-top: 80px;
}

.App h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 30px;
  padding-top: 20px;
  color: rgb(85, 85, 85);
}

.App h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5px;
  color: rgb(85, 85, 85);
}

.App h3 {
  margin-top: 100px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 5px;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
}

.App h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-block: 40px 20px;
}
h4 span {
  background-color: #ff5722;
  padding: 5px;
}

.App hr {
  border-top: 1px solid rgba(211, 77, 0, 0.89);
  max-width: 300px;
}

hr.long {
  border-top: 1px solid #eeee;
  max-width: 800px;
}

.App form {
  text-align: center;
  margin: 0 auto;
}

.App .searchBar > * {
  line-height: 40px;
}
.App footer {
  margin-top: 200px;
  text-align: center;
}

.App .mainWord {
  color: #ff5722;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0px;
}

.App .phonic {
  color: rgb(85, 85, 85);
}

.App .definition {
  font-weight: 600;
  display: block;
}

.App .example {
  display: block;
  margin-bottom: 15px;
}
