.App {
  max-width: 800px;
  margin: 0 auto;
}

body {
  background-color: #e7eaf6;
}

section {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  margin-block: 35px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.App-header {
  margin-top: 80px;
}

.App h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 30px;
  color: #113f67;
}

.App h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 5px;
  color: #113f67;
  padding-bottom: 20px;
}

.App h3 {
  text-align: center;
  margin-top: 100px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 5px;
  color: rgb(85, 85, 85);
  text-transform: uppercase;
}

.App h4 {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 12px;
  margin-block: 10px;
}
h4 span {
  background-color: #ff5722;
  padding: 5px;
}

.App input {
  width: 100%;
  padding: 15px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}

.hint {
  color: rgb(167, 167, 167);
  margin: 15px 15px 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

.App footer {
  margin-top: 200px;
  text-align: center;
}

.App .mainWord {
  color: #ff5722;
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.App .phonic {
  color: rgb(85, 85, 85);
  margin-bottom: 15px;
}

.phonic a {
  border: 1px solid #ff5722;
  border-radius: 15px;
  color: #ff5722;
  padding: 5px 15px;
  margin-right: 15px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.phonic a:hover {
  border-radius: 15px;
  background: #ff5722;
  padding: 5px 15px;
  color: white;
  text-decoration: none;
}

.App .definition {
  font-weight: 400;
  display: block;
  color: #ff5722;
  margin-block: 10px 15px;
}

.App .example {
  display: block;
  margin-bottom: 15px;
}
.Examples {
  color: rgb(163, 163, 163);
}

.Synonyms li {
  display: inline;

  text-align: center;
  margin-right: 20px;
  padding: 8px 15px;
  color: rgb(85, 85, 85);
  background-color: #ececec;
  border-radius: 15px;
  list-style: none;
}

img {
  border-radius: 4px;
  margin-bottom: 12px;
}
